@media screen {
  * {
    outline: none; } }
.highlighted {
  color: #337ab7; }

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: rem-calc(14); }

blockquote {
  background: #f9f9f9; }

code {
  border-radius: 4px; }

p.primary {
  color: #337ab7; }
p.secondary {
  color: #888; }
p.success {
  color: #5cb85c; }
p.warning {
  color: #f0ad4e; }
p.alert {
  color: #d9534f; }

dl dd {
  margin-bottom: 1rem; }

.subheader {
  font-weight: normal; }

.inline-block {
  display: inline-block; }

.accordion {
  border-bottom-width: 0; }
  .accordion .accordion-item {
    background: #ffffff; }
    .accordion .accordion-item.is-active {
      background: #fafdff; }
      .accordion .accordion-item.is-active .accordion-title {
        color: #0a0a0a; }
  .accordion .accordion-content {
    color: #0a0a0a; }
  .accordion :last-child > .accordion-title {
    border-bottom-width: 1px; }
  .accordion .accordion-title {
    font-size: 1rem; }

.breadcrumbs {
  padding: 0.5rem rem-calc(15);
  border-radius: 4px;
  border-width: 0;
  background: #f5f5f5;
  font-size: rem-calc(14);
  line-height: rem-calc(20); }
  .breadcrumbs li {
    color: #777; }

.button {
  border: 1px solid #ccc;
  background: #fff;
  line-height: rem-calc(20); }
  .button.primary {
    background: #337ab7;
    border-color: #2a6597;
    color: #fff; }
    .button.primary:hover, .button.primary:focus {
      color: #fff; }
  .button.white {
    border: 1px solid #ddd;
    font-weight: normal; }
  .button.dark {
    border-color: #373737; }
  .button.info {
    color: #ffffff;
    background: #46b8da;
    border-color: #29a8ce; }
    .button.info:hover, .button.info:focus {
      color: #ffffff;
      background: #31b0d5;
      border-color: #269abc; }
  .button.success {
    color: #ffffff;
    border-color: #4cae4c; }
    .button.success:hover, .button.success:focus {
      color: #ffffff;
      border-color: #46a046; }
  .button.warning {
    color: #ffffff;
    border-color: #eea236; }
    .button.warning:hover, .button.warning:focus {
      color: #ffffff;
      border-color: #ec9923; }
  .button.alert {
    color: #ffffff;
    border-color: #d43f3a; }
    .button.alert:hover, .button.alert:focus {
      color: #ffffff;
      border-color: #cd322d; }
  .button.hollow {
    background: transparent; }
    .button.hollow:hover {
      background: transparent; }

.button.dropdown:after {
  border-color: #333 transparent transparent;
  top: .6em; }

.callout {
  color: #0a0a0a; }
  .callout.info, .callout.primary {
    border-color: #bce8f1;
    background: #d9edf7;
    color: #31708f; }
    .callout.info a, .callout.primary a {
      color: #285b74; }
  .callout.success {
    border-color: #d6e9c6;
    background: #dff0d8;
    color: #3c763d; }
    .callout.success a {
      color: #305e31; }
  .callout.warning {
    border-color: #faebcc;
    background: #fcf8e3;
    color: #8a6d3b; }
    .callout.warning a {
      color: #715930; }
  .callout.alert {
    border-color: #ebccd1;
    background: #f2dede;
    color: #a94442; }
    .callout.alert a {
      color: #8f3a38; }

.is-drilldown {
  border-bottom: 1px solid #ddd;
  border-radius: 0 0 4px 4px; }

.js-drilldown-back::before,
.js-drilldown-back > a:before {
  margin-top: -0.25rem;
  padding: 0; }

.dropdown.menu .has-submenu.is-down-arrow > a::after,
.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  right: 8px; }
.dropdown.menu .submenu {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05); }
.dropdown.menu.vertical > li.opens-right > .is-dropdown-submenu {
  right: auto;
  left: 100%;
  top: -1px; }

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a:after {
  border-color: transparent transparent transparent #777; }

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a:after {
  border-color: transparent transparent transparent #777;
  border-width: 4px; }

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a:after {
  border-color: transparent #777 transparent transparent; }

.input-group .input-group-label {
  border-radius: 4px 0 0 4px; }
.input-group .input-group-field {
  border-radius: 0; }
.input-group .input-group-button .button {
  border-radius: 0 4px 4px 0;
  margin: 0; }

select, .input-group-field {
  height: rem-calc(34) !important; }

[type=color], [type=date], [type=datetime-local], [type=datetime],
[type=email], [type=month], [type=number], [type=password],
[type=search], [type=tel], [type=text],
[type=time], [type=url], [type=week] {
  height: rem-calc(34) !important; }

.menu {
  border: 1px solid #ddd;
  border-radius: 4px; }
  .menu * {
    outline: none; }
  .menu > li {
    border-right: 1px solid #ddd; }
    .menu > li:last-child {
      border-bottom: none;
      border-right: none; }
    .menu > li a {
      color: #333; }
    .menu > li > a > i {
      vertical-align: top; }
    .menu > li a:hover {
      background: #eaeaea; }
    .menu > li:first-child > a {
      border-radius: 4px 0 0 4px; }
    .menu > li:last-child > a {
      border-radius: 0 4px 4px 0; }
    .menu > li.active > a {
      background: #eaeaea;
      color: #0a0a0a; }
  .menu.vertical > li {
    border-right: 0;
    border-bottom: 1px solid #ddd; }
    .menu.vertical > li:last-child {
      border-bottom: none; }
  .menu.vertical.nested {
    background: #fff;
    border-width: 1px 0 0 0; }
  .menu.vertical > li:first-child > a {
    border-radius: 4px 4px 0 0; }
  .menu.vertical > li:last-child > a {
    border-radius: 0 0 4px 4px; }

.menu-icon::after {
  height: 1px; }

@media screen {
  .orbit * {
    outline: none; } }
.orbit .orbit-previous, .orbit .orbit-next {
  opacity: 0;
  transition: opacity 0.25s ease-out;
  font-size: rem-calc(40); }
.orbit:hover .orbit-previous, .orbit:hover .orbit-next {
  background: transparent;
  opacity: 0.7; }
  .orbit:hover .orbit-previous:hover, .orbit:hover .orbit-next:hover {
    background: transparent;
    opacity: 1; }
.orbit.bullets-inside .orbit-caption {
  padding-bottom: 2.5rem; }
.orbit.bullets-inside .orbit-bullets {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0; }
  .orbit.bullets-inside .orbit-bullets button {
    background: transparent;
    border: 1px solid #ffffff;
    opacity: 1;
    transition: opacity 0.3s ease-out; }
    .orbit.bullets-inside .orbit-bullets button.is-active {
      opacity: 1;
      background-color: #fff; }
      .orbit.bullets-inside .orbit-bullets button.is-active:hover {
        opacity: 1; }
    .orbit.bullets-inside .orbit-bullets button:hover {
      opacity: 1; }

.pagination {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block; }
  .pagination li {
    border-radius: 0;
    margin-right: -4px;
    border-right: 1px solid #ddd; }
    .pagination li:last-child {
      border: 0;
      margin-right: -1px; }
    .pagination li.pagination-previous {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .pagination li.pagination-next {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .pagination li a {
      border-radius: 0;
      padding: rem-calc(5) rem-calc(13); }
    .pagination li.current, .pagination li.disabled {
      padding: rem-calc(5) rem-calc(13); }
    .pagination li.current {
      background: #337ab7;
      color: #ffffff;
      margin-left: -1px;
      border: 0; }
      .pagination li.current:hover {
        background: #337ab7;
        color: #ffffff; }
    .pagination li.ellipsis {
      border: 0; }

.switch .switch-paddle {
  border-radius: 1rem; }
  .switch .switch-paddle::after {
    border-radius: 0.75rem; }
.switch.tiny .switch-paddle {
  border-radius: 0.75rem; }
  .switch.tiny .switch-paddle::after {
    border-radius: 0.5rem; }
.switch.small .switch-paddle {
  border-radius: 0.875rem; }
  .switch.small .switch-paddle::after {
    border-radius: 0.625rem; }
.switch.large .switch-paddle {
  border-radius: 1.25rem; }
  .switch.large .switch-paddle::after {
    border-radius: 1.25rem; }

table thead {
  border-bottom: 2px solid #f2f2f2; }
table tbody tr {
  border: 1px solid #f2f2f2; }
  table tbody tr:nth-child(even) {
    background: none; }
  table tbody tr.primary {
    background: #d9edf7; }
  table tbody tr.success {
    background: #dff0d8; }
  table tbody tr.warning {
    background: #fcf8e3; }
  table tbody tr.alert {
    background: #f2dede; }

.tabs {
  border-width: 0 0 1px 0; }
  .tabs .tabs-title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .tabs .tabs-title > a {
      padding: 1rem 1.5rem;
      font-size: rem-calc(14);
      border-radius: 4px 4px 0 0; }
    .tabs .tabs-title.is-active {
      border: 1px solid #ddd;
      border-bottom-width: 0;
      margin-bottom: -1px; }
      .tabs .tabs-title.is-active > a {
        color: #444444; }

.tabs-content {
  border-radius: 0 0 4px 4px;
  border: 0; }

.title-bar {
  border-bottom: 1px solid #e7e7e7;
  color: #777;
  background: #f8f8f8; }

.top-bar {
  color: #777;
  border-bottom: 1px solid #e7e7e7; }
  .top-bar ul {
    background: transparent; }
  .top-bar .top-bar-inner {
    padding: 0.5rem 0 0 1rem; }
  .top-bar .top-bar-text {
    padding: 0;
    line-height: rem-calc(34); }

.menu {
  border: 0;
  border-radius: 0; }
  .menu * {
    outline: none; }
  .menu > li {
    border-right: 0; }
    .menu > li a {
      color: #777;
      padding: rem-calc(17);
      font-size: rem-calc(14); }
      .menu > li a:hover {
        color: #555; }
    .menu > li.menu-text {
      padding: rem-calc(15);
      font-size: rem-calc(18);
      font-weight: normal; }
    .menu > li:first-child > a {
      border-radius: 0; }
    .menu > li:last-child > a {
      border-radius: 0; }
    .menu > li.active > a {
      background: #e7e7e7; }
  .menu.dropdown .submenu {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: rem-calc(5) 0; }
    .menu.dropdown .submenu.first-sub {
      left: 0; }
    .menu.dropdown .submenu a {
      color: #333;
      padding: rem-calc(3) rem-calc(20);
      line-height: rem-calc(20); }
    .menu.dropdown .submenu li {
      border: 0; }
  .menu.dropdown .has-submenu.is-down-arrow > a::after,
  .menu.dropdown > li.is-dropdown-submenu-parent > a:after {
    border-color: #777 transparent transparent;
    border-width: 4px;
    margin-top: -2px; }
  .menu.dropdown .has-submenu.is-right-arrow > a::after {
    border-color: transparent transparent transparent #777; }

input, button.white {
  display: inline-block;
  margin-bottom: 0; }

input {
  margin-right: 2rem; }

.button {
  margin-left: 0.0rem; }

.menu-icon:after {
  background: #777;
  box-shadow: 0 7px 0 #777,0 14px 0 #777; }

.title-bar .title-bar-title {
  font-weight: normal; }

/*# sourceMappingURL=app.css.map */
