// Variables
$gap-xs: 5px;
$gap-sm: 10px;
$gap: 20px;
$gap-md: 30px;
$gap-lg: 40px;
$labelColor: #868e96;
$panel-icon-size: 18px;
$bgColor: #fcfcfc;
$panelBgColor: #ffffff;
$borderColor: #62929E;

//start normal css
.chartInputRow:nth-child(even) {
	background-color: #fff
}

.chartInputRow:nth-child(odd) {
	background-color: $panelBgColor
}

#live {
	width: 100%;
	height: 300px
}

iframe {
	margin: 0;
	padding: 0;
	border: none;
	width: value;
	height: value;
}

//positioning
.topRow {
	padding-top: 3em
}

.topCol {
	margin-top: 1em;
}

.inputCol {
	margin-left: auto;
	margin-right: auto;
}

.colSpace {
	border: 2px solid $borderColor;
	border-radius: 5px;
	padding: 10px;
	background-color: $panelBgColor;
	height: 100%
}

.buildCell {
	margin-left: auto;
	margin-right: auto;
}
.sideInputs {
	display: inline-block;
	float: left;
}
//styling 
body {
	background-color: $bgColor
}

.dblock {
	display: block
}

.code {
	width: 100%;
	font-size: 8px;
	line-height: 12px;
	font-family: monospace;
	height: 10em
}

input {
	width: 100%;
	padding: 8px 18px;
	font-size: 14px;
	margin-bottom: 24px;
	background: #FFF;
	border: 1px solid #E5E5E4;
	border-radius: 0;
	outline: 0;
	color: #000;
	height: 44px
}

select {
	width: 100%;
	padding: 8px 18px;
	font-size: 14px;
	margin-bottom: 24px;
	background: #FFF;
	border: 1px solid #E5E5E4;
	border-radius: 0;
	outline: 0;
	color: #000;
	height: 44px
}

label {
	padding-top: 5px
}

.btn {
	margin-top: 15px;
	margin-bottom: 15px
}

input, #colorPicker {
	width: 50%
}

.buildBtn {
	width: 50%;
	padding: 20px 0;
}

.codeBlock {
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	height: 200px;
	overflow: scroll;
}

.panelHead {
	margin: 10px 0;
	padding: 20px;
	background-color: #f1f1f1;
	font-family: 'Open Sans', sans-serif;
	line-height: 42px;
}

.copyBtn {
	float: right;
	padding: 10px;
	margin: 0;
}
.smallText {
	font-size: 12px;
	line-height: 16px;
}
//show and hide
.hide {
	display: none
}

.show {
	display: block
}

//Alert
#alerts-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 75%;
	max-width: 800px;
	margin: 0 auto;
	z-index: 99;
}

.alert {
	margin: 0 auto
}

// fonts
label {
	font-family: 'Catamaran', sans-serif;
}

p, span {
	font-family: 'Open Sans', sans-serif;
}
